<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="clickMe()">
        
        <!--First Name-->
        <div class="form-group">
          <label>First Name.</label>
          <input type="text"
                 class="form-control"
                 formControlName="fname"
                 required>
        </div>
        <div class="alert alert-danger" 
            *ngIf="myForm.controls['fname'].hasError('required')">
            *** Can't Left Blank ***  
        </div>
        <div class="alert alert-warning"
             *ngIf="myForm.controls['fname'].hasError('minlength')">
              *** Minimum 3 characters are required ***
        </div>
        <div class= "alert alert-success"
             *ngIf="myForm.controls['fname'].hasError('maxlength')">
            *** maximum 6 Chatacters Are Allowed ***
        </div>

    
        <!--Last Name-->
        <div class="form-group">
            <label>Last Name.</label>
            <input type="text"
                   class="form-control"
                   formControlName="lname">
        </div>


        <!--Email-->
        <div class="form-group">
            <label>Email.</label>
            <input type="email"
                   class="form-control"
                   formControlName="uemail">
        </div>
    
        <!-- Sub Group-->
        <div class="form-group" formGroupName="addr">
            <!--City-->
            <div class="form-group">
              <label>City.</label>
              <input type="text"
                     class="form-control"
                     formControlName="ucity">
            </div>

             <!--Address-->
             <div class="form-group">
                <label>Address.</label>
                <input type="text"
                       class="form-control"
                       formControlName="uaddress">
             </div>
        </div>

        <!--Gender-->
        <div class="form-group">
            <input type="radio"
                   class="form-control"
                   value="male"
                   formControlName="gender">Male
            <input type="radio"
                   class="form-control"
                   value="female"
                   formControlName="gender">FeMale       
        </div>

        <!-- DropDown -->
        <div class="form-group">
            <select class="form-control" formControlName="ucountry">
              <option value="India">India</option>
              <option value="USA">USA</option>
              <option value="UK">UK</option>
              <option value="Canada">Canada</option>
            </select>
        </div>

        <!-- Submit Button -->
        <div align="center" style="margin-top: 20px">
            <input type="submit" class="btn btn-success">
        </div>
    </form>
</div>